/* .main-div mat-card{
  padding: 0px;
}
*/

/* .login-form {
  min-width: 400px;
  max-width: 400px;
  width: 100%;
}*/
.mat-toolbar {
  margin-bottom: 10px;
}

.mat-card {
  min-width: 200px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px #3f51b5, 
              0 1px 1px 0 #3f51b5, 
              0 1px 3px 0 #3f51b5;
}

.mat-form-field {
  margin-top: 2px;
  display: block;
}

.mat-raised-button {
  width: 40%;
}