
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Corporate Employee Suite</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon> 
  </button>-->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu> -->
   </mat-toolbar-row></mat-toolbar>

<div fxLayoutAlign = "center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="Login()">
      <mat-form-field >
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field >
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>
