<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Corporate Employee Suite</span>
    <span class="example-fill-remaining-space"></span>
    <button (click)="logout()" mat-raised-button matTooltip="Logout" data-inline="false">Logout</button>

  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Health Status">
    <app-health-status></app-health-status>
  </mat-tab>
  <mat-tab label="Request Seat">
    <seat-request></seat-request>
  </mat-tab>
</mat-tab-group>