<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Corporate Employee Suite</span>
        <span class="example-fill-remaining-space"></span>
        <button (click)="logout()" mat-raised-button matTooltip="Logout" data-inline="false">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Request Seat">
        <div class="seat-request-container">
            <mat-card>
                <form #checkAdminSeatsform="ngForm" (ngSubmit)="loadTable()">
                    <mat-form-field appearance="fill">
                        <mat-label>Select floor No.</mat-label>
                        <mat-select matInput required [(ngModel)]="selectedFloor" name="floor">
                            <mat-option *ngFor="let floor of floors" [value]="floor.value">
                                {{floor.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Select Section</mat-label>
                        <mat-select matInput required [(ngModel)]="selectedSection" name="section">
                            <mat-option *ngFor="let section of sections" [value]="section.value">
                                {{section.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="!checkAdminSeatsform.valid">Load</button>
                </form>
            </mat-card>
            <mat-card *ngIf="loadTablevar">
                <seat-map></seat-map>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
