<div style="padding: 10px;">

    <div>
        <label for="headache">Select Floor</label>
          <select id="headache" name="headache" style="margin-left: 5px;">
            <option value="yes">Floor 1</option>
            <option value="yes">Floor 2</option>
            <option value="yes">Floor 3</option>
            <option value="yes">Floor 4</option>
          </select>
          <label for="headache" style="margin-left: 10px;">Select Section</label>
          <select id="headache" name="headache" style="margin-left: 5px;">
            <option value="yes">Garden Area</option>
            <option value="yes">IWM </option>
            <option value="yes">RFIT</option>
          </select>
          <button class="button" >Load</button>
    </div>
  
</div>
  
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->