.mat-card{
    margin: 10px;
 }
 .seatNum{
     margin-left: 77px;
     margin-right:60px;
 }

 .button_space{
    margin-left :60px;
    margin-top: 20px;
    margin-right:60px;
 }
 .updateButton{
    margin-left :60px;
 }